# Visualize Test Results (Raptor Approx Large Nof Source Stops) - Germany Graph

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Load the data

In [2]:
folder = "../../gesamt_de/results/"

results = pd.read_csv(folder + "raptor-approximation-results-large-nof-sources-2024-7-27-10-27-54.csv") # k = 500, 1000, 2000

# set number of source stops as index
results = results.set_index("numberOfSourceStops")

# sort by index
results = results.sort_index()

In [3]:
display(results)

,avgQueryTimeRaptorApproxMinMaxLoop,medianQueryTimeRaptorApproxMinMaxLoop,maxQueryTimeRaptorApproxMinMaxLoop,minQueryTimeRaptorApproxMinMaxLoop,accuracyRaptorApproxMinMaxLoop,avgNumberOfRoundsRaptorApproxMinMaxLoop,medianNumberOfRoundsRaptorApproxMinMaxLoop,maxNumberOfRoundsRaptorApproxMinMaxLoop,avgNumberOfQueriesRaptorApproxMinMaxLoop,medianNumberOfQueriesRaptorApproxMinMaxLoop,maxNumberOfQueriesRaptorApproxMinMaxLoop
numberOfSourceStops,,,,,,,,,,,
500,18132.8,16856.5,35629,7237,0.92,2.27174,2,4,11.4457,12,18
1000,26146.6,25437.0,50928,7403,0.93,2.35484,2,4,11.7742,12,19

## Analyze the query times

In [4]:
query_time_result_columns = [col for col in results.columns if "QueryTime" in col]

In [5]:
display(results[query_time_result_columns])

,avgQueryTimeRaptorApproxMinMaxLoop,medianQueryTimeRaptorApproxMinMaxLoop,maxQueryTimeRaptorApproxMinMaxLoop,minQueryTimeRaptorApproxMinMaxLoop
numberOfSourceStops,,,,
500,18132.8,16856.5,35629,7237
1000,26146.6,25437.0,50928,7403

## Analyze the number of rounds and queries

In [8]:
nof_rounds_result_columns = [col for col in results.columns if "NumberOfRounds" in col]
nof_queries_result_columns = [col for col in results.columns if "NumberOfQueries" in col]

In [9]:
display(results[nof_rounds_result_columns])

,avgNumberOfRoundsRaptorApproxMinMaxLoop,medianNumberOfRoundsRaptorApproxMinMaxLoop,maxNumberOfRoundsRaptorApproxMinMaxLoop
numberOfSourceStops,,,
500,2.27174,2,4
1000,2.35484,2,4

In [10]:
display(results[nof_queries_result_columns])

,avgNumberOfQueriesRaptorApproxMinMaxLoop,medianNumberOfQueriesRaptorApproxMinMaxLoop,maxNumberOfQueriesRaptorApproxMinMaxLoop
numberOfSourceStops,,,
500,11.4457,12,18
1000,11.7742,12,19