# Visualize Test Results (EAT Queries) - Germany Graph

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Load the data

In [2]:
folder = "../../gesamt_de/results-eat/"

results = pd.read_csv(folder + "raptor-eat-results-2024-7-18-19-45-18.csv")

In [3]:
display(results)

,avgDuration,medianDuration,maxDuration,minDuration,avgQueryTimeRaptor,avgQueryTimeRaptorBoundStar,avgQueryTimeRaptorPQStar,medianQueryTimeRaptor,medianQueryTimeRaptorBoundStar,medianQueryTimeRaptorPQStar,...,avgLowerBoundSmallerCountRaptorBoundStar,avgLowerBoundSmallerCountRaptorPQStar,avgLowerBoundGreaterCountRaptorBoundStar,avgLowerBoundGreaterCountRaptorPQStar,avgLowerBoundSmallerFractionRaptorBoundStar,avgLowerBoundSmallerFractionRaptorPQStar,avgLowerBoundAbsDiffRaptorBoundStar,avgLowerBoundAbsDiffRaptorPQStar,avgLowerBoundRelDiffRaptorBoundStar,avgLowerBoundRelDiffRaptorPQStar
0,368.54,317.325,3925.92,0,732.728,599.035,590.897,756.5,596.5,568,...,214094,35996.2,72696.7,15.1112,0.677856,NaN,14850.2,NaN,0.13984,NaN

## Analyze the query times

In [4]:
avg_query_times_results_columns = [col for col in results.columns if 'avgQueryTime' in col and not 'Parallel' in col]
median_query_times_results_columns = [col for col in results.columns if 'medianQueryTime' in col and not 'Parallel' in col]
max_query_times_results_columns = [col for col in results.columns if 'maxQueryTime' in col and not 'Parallel' in col]
min_query_times_results_columns = [col for col in results.columns if 'minQueryTime' in col and not 'Parallel'in col]

In [5]:
display(results[avg_query_times_results_columns])

   avgQueryTimeRaptor  avgQueryTimeRaptorBoundStar  avgQueryTimeRaptorPQStar
0             732.728                      599.035                   590.897

In [6]:
display(results[median_query_times_results_columns])

,medianQueryTimeRaptor,medianQueryTimeRaptorBoundStar,medianQueryTimeRaptorPQStar
0,756.5,596.5,568

In [7]:
display(results[max_query_times_results_columns])

   maxQueryTimeRaptor  maxQueryTimeRaptorBoundStar  maxQueryTimeRaptorPQStar
0                2158                         2058                      1413

In [8]:
display(results[min_query_times_results_columns])

   minQueryTimeRaptor  minQueryTimeRaptorBoundStar  minQueryTimeRaptorPQStar
0                   1                            1                         1

## Analyze number of expanded routes

In [9]:
avg_nof_expanded_routes_results_columns = [col for col in results.columns if 'avgExpandedRoutes' in col]
median_nof_expanded_routes_results_columns = [col for col in results.columns if 'medianExpandedRoutes' in col]
max_nof_expanded_routes_results_columns = [col for col in results.columns if 'maxExpandedRoutes' in col]
min_nof_expanded_routes_results_columns = [col for col in results.columns if 'minExpandedRoutes' in col]

In [10]:
display(results[avg_nof_expanded_routes_results_columns])

,avgExpandedRoutesRaptor,avgExpandedRoutesRaptorBoundStar,avgExpandedRoutesRaptorPQStar
0,499223,421687,183573

In [11]:
display(results[median_nof_expanded_routes_results_columns])

,medianExpandedRoutesRaptor,medianExpandedRoutesRaptorBoundStar,medianExpandedRoutesRaptorPQStar
0,516336,427089,177012

In [12]:
display(results[max_nof_expanded_routes_results_columns])

,maxExpandedRoutesRaptor,maxExpandedRoutesRaptorBoundStar,maxExpandedRoutesRaptorPQStar
0,1316650.0,1295780.0,441835

In [13]:
display(results[min_nof_expanded_routes_results_columns])

,minExpandedRoutesRaptor,minExpandedRoutesRaptorBoundStar,minExpandedRoutesRaptorPQStar
0,196,132,119

## Analyze the lower bounds

In [14]:
avg_lower_bound_smaller_counter_columns = [col for col in results.columns if 'avgLowerBoundSmallerCount' in col]
avg_lower_bound_greater_counter_columns = [col for col in results.columns if 'avgLowerBoundGreaterCount' in col]
avg_lower_bound_smaller_fraction_columns = [col for col in results.columns if 'avgLowerBoundSmallerFraction' in col]
avg_lower_bound_abs_diff_columns = [col for col in results.columns if 'avgLowerBoundAbsDiff' in col]
avg_lower_bound_rel_diff_columns = [col for col in results.columns if 'avgLowerBoundRelDiff' in col]

In [15]:
display(results[avg_lower_bound_smaller_counter_columns])

,avgLowerBoundSmallerCountRaptorBoundStar,avgLowerBoundSmallerCountRaptorPQStar
0,214094,35996.2

In [16]:
display(results[avg_lower_bound_greater_counter_columns])

,avgLowerBoundGreaterCountRaptorBoundStar,avgLowerBoundGreaterCountRaptorPQStar
0,72696.7,15.1112

In [17]:
display(results[avg_lower_bound_smaller_fraction_columns])

,avgLowerBoundSmallerFractionRaptorBoundStar,avgLowerBoundSmallerFractionRaptorPQStar
0,0.677856,NaN

In [18]:
display(results[avg_lower_bound_abs_diff_columns]) # in seconds

   avgLowerBoundAbsDiffRaptorBoundStar  avgLowerBoundAbsDiffRaptorPQStar
0                              14850.2                               NaN

In [19]:
display(results[avg_lower_bound_rel_diff_columns])

   avgLowerBoundRelDiffRaptorBoundStar  avgLowerBoundRelDiffRaptorPQStar
0                              0.13984                               NaN